@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    display: flex;
    flex-flow: space-between;
    background-color: #325a83;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 20px;
}
.btn {
    padding-left: 10px;
}
h1 {
    font-family: 'Didact Gothic', sans-serif;
    color: #ffffff;
    text-decoration: underline;
}
img {
    height: 400px;
    border: 6px groove #1C6EA4;
    border-radius: 17px 17px 17px 17px;
}
.div1 {
    border: 1px solid #325a83;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 4px;
    padding-left: 5px;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
h2 {
    font-family: 'Didact Gothic', sans-serif;
    color: #325a83;
    font-size: 250%;
}
p {
    font-family: 'Didact Gothic', sans-serif;
    color: #325a83;
    font-size: 250%;
}
